.banner {
    background-color: #223b87;
    color: white;
  }
  
  .text-white {
    color: white;
  }
  .text-gray {
    color: rgb(192, 189, 189);
  }

  .celda {

    width: 200px;
  
    /* BOTH of the following are required for text-overflow */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .modal-card-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}