.item {
    background-color: #223b87;
    color: white;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    &:hover {
      opacity: 0.8;
    }
  }
  .banner {
    background-color: #223b87;
    color: white;
  }
  .text-white {
    color: white;
  }
  .text-gray {
    color: rgb(192, 189, 189);
  }