.banner {
    background-color: #223b87;
    color: white;
  }
  
  .text-white {
    color: white;
  }
  .text-gray {
    color: rgb(192, 189, 189);
  }
  .columns{
      margin: 0;
      padding: 0;
  }
  .column{
    margin: 0;
    padding: 0;
  }