<div class="container mt-1">
  <article class="panel is-primary">
    <p class="panel-heading mb-5">Postulaciones</p>
    <div class="columns is-vcentered is-marginless">
    <!-- <div class="column is-4">
        <div class="field">
          <label class="label"> Fecha de Inicio</label>
          <div class="control is-small">
            <input
              [(ngModel)]="Fechainicio"
              class="input"
              type="date"
              placeholder="Ingresa fecha de inicio"
            />
          </div>
        </div>
      </div>--> 
      <div class="column is-8">
        <div class="field">
          <label class="label"> Fecha Minima</label>
          <div class="control is-small">
            <input
              [(ngModel)]="Fechafin"
              class="input"
              type="date"
              placeholder="Ingresa fecha de fin"
            />
          </div>
        </div>
      </div>
      <div class="column is-2">
        <div class="field">
          <label class="label">Estado</label>
          <div class="select is-fullwidth">
            <select [(ngModel)]="Estado">
              <option value="Pendiente">Pendiente</option>
              <option value="Todos">Todos</option>
            </select>
          </div>
        </div>
      </div>
      <div class="column is-2">
        <div class="field">
          <label class="label">&nbsp;</label>
          <button
            class="button is-primary"
            aria-label="like"
            (click)="UpdateTable()"
            [disabled]="loading"
            [ngClass]="{ 'is-loading': loading }"
          >
            Listar
          </button>
        </div>
      </div>
    </div>

    <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="table is-striped row-border hove"
    >
      <thead>
        <tr>
          <th>Nro</th>
          <th>Materia</th>
          <!--<th>Fechaini</th>
              <th>Fechafin</th>-->
          <th>Descripción</th>
          <th>Fecha</th>
          <th>Aplicaciones</th>
          <th>Pendientes</th>
          <th class="has-text-centered boton"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of postulaciones; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.Nombre }}</td>
          <td>
            {{ item.Descripcion }}
          </td>
          <td>{{ item.Fechapostulacion | date: "dd/MM/y" }}</td>
          <td>
            {{ item.Cantidad }}
          </td>
          <td>
            {{ item.Pendiente }}
          </td>
          <td>
            <button
              class="button is-text is-small has-text-primary"
              (click)="showApplications(item)"
              [disabled]="item.Cantidad == 0"
            >
              <i class="fas fa-eye"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
</div>

<div class="modal" [ngClass]="{ 'is-active': showModalApplications }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head has-background-primary">
      <p class="modal-card-title has-text-light">
        Lista de personas que aplicaron a la postulación.
      </p>
      <button
        class="delete"
        aria-label="close"
        (click)="showModalApplications = false"
      ></button>
    </header>
    <section class="modal-card-body">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre Persona</th>
            <th>Curriculum</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of aplicaciones; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.Nombre }} {{ item.Paterno }} {{ item.Materno }}</td>
            <td><a (click)="showCurriculum(item)">Ver Curriculum</a></td>
            <td>
              <span
                *ngIf="item.Estadopostulacionmateria == 1"
                style="color: rgb(238, 117, 37)"
                >Pendiente</span
              >
              <span
                *ngIf="item.Estadopostulacionmateria == 2"
                style="color: rgb(39, 122, 6)"
                >Aprobada</span
              >
              <span
                *ngIf="item.Estadopostulacionmateria == 3"
                style="color: rgb(247, 43, 43)"
                >Rechazada</span
              >
            </td>
            <td>
              <div *ngIf="item.Estadopostulacionmateria == 1">
                <button
                  class="button is-text is-small has-text-primary"
                  (click)="preApprove(item)"
                >
                  <i class="fas fa-check"></i>
                </button>
                <button
                  class="button is-text is-small has-text-primary"
                  (click)="preCancel(item)"
                >
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <footer class="modal-card-foot">
      <button
        class="button is-danger is-link is-outlined"
        (click)="showModalApplications = false"
      >
        <span class="icon is-small">
          <i class="fas fa-ban"></i>
        </span>
        <span>Cerrar</span>
      </button>
    </footer>
  </div>
</div>

<div class="modal" [ngClass]="{ 'is-active': showModalCurriculum }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head has-background-primary">
      <p class="modal-card-title has-text-light">
        Curriculum de {{ persona?.Nombre }} {{ persona?.Paterno }}
        {{ persona?.Materno }}
      </p>
      <button
        class="delete"
        aria-label="close"
        (click)="showModalCurriculum = false"
      ></button>
    </header>
    <section class="modal-card-body">
      <div>
        <h3><strong>Datos Pesonales</strong></h3>
        <p><strong>Documento:</strong> {{ persona?.Documento }}</p>
        <p>
          <strong>Nombre:</strong> {{ persona?.Nombre }} {{ persona?.Paterno }}
          {{ persona?.Materno }}
        </p>
        <p><strong>Años de Experiencia Laboral:</strong> {{ experiencia }}</p>
      </div>
      <section class="hero is-info">
        <div class="hero-body">
          <p class="title">Experiencia Laboral</p>
          <p class="subtitle">Lista de empresas donde trabajo</p>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Empresa</th>
                <th>Fecha Inicio</th>
                <th>Fecha Finalización</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of experiencias; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.Empresa }}</td>
                <td>{{ item.Fechaini | date: "dd/MM/YY" }}</td>
                <td *ngIf="!item.Actual">
                  {{ item.Fechafin | date: "dd/MM/YY" }}
                </td>
                <td *ngIf="item.Actual">Trabajo Actual.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section class="hero is-info">
        <div class="hero-body">
          <p class="title">Educacion</p>
          <p class="subtitle">Lista de centros de estudio</p>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Institución</th>
                <th>Fecha Inicio</th>
                <th>Fecha Finalización</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of superiores; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.Institucion }}</td>
                <td>{{ item.Fechaini | date: "dd/MM/YY" }}</td>
                <td>{{ item.Fechafin | date: "dd/MM/YY" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </section>
    <footer class="modal-card-foot">
      <button
        class="button is-danger is-link is-outlined"
        (click)="showModalCurriculum = false"
      >
        <span class="icon is-small">
          <i class="fas fa-ban"></i>
        </span>
        <span>Cerrar</span>
      </button>
    </footer>
  </div>
</div>

<div class="modal" [ngClass]="{ 'is-active': showConfirmApprove }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content has-text-centered">
            <p>
              <strong>¿Estas seguro de desea aprobar la postulación?</strong>
            </p>
            <div class="field">
              <label class="subtitle">* Nota Aprobación</label>
              <div class="control is-small">
                <input
                  [(ngModel)]="nota"
                  class="input"
                  type="number"
                  placeholder="Ingresar la nota de aprobación de curriculum"
                />
              </div>
            </div>
          </div>
          <div class="level has-text-centered">
            <button
              class="level-item button is-success is-outlined"
              aria-label="retweet"
              [disabled]="!nota"
              (click)="approve()"
            >
              <span class="icon">
                <i class="far fa-check-circle fa-lg"></i>
              </span>
            </button>
            <button
              class="level-item button is-danger is-outlined"
              aria-label="like"
              (click)="showConfirmApprove = false"
            >
              <span class="icon">
                <i class="fas fa-ban fa-lg"></i>
              </span>
            </button>
          </div>
        </div>
      </article>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<div class="modal" [ngClass]="{ 'is-active': showConfirmCancel }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content has-text-centered">
            <p>
              <strong>¿Estas seguro de desea rechazar la postulación?</strong>
            </p>
            <div class="field">
              <label class="subtitle">* Motivo de rechazo</label>
              <div class="control is-small">
                <input
                  [(ngModel)]="mensaje"
                  class="input"
                  type="text"
                  maxlength="200"
                  placeholder="Ingresar el motivo por el cual se rechaza la postulación."
                />
              </div>
            </div>
          </div>
          <div class="level has-text-centered">
            <button
              class="level-item button is-success is-outlined"
              [disabled]="!mensaje"
              aria-label="retweet"
              (click)="cancel()"
            >
              <span class="icon">
                <i class="far fa-check-circle fa-lg"></i>
              </span>
            </button>
            <button
              class="level-item button is-danger is-outlined"
              aria-label="like"
              (click)="showConfirmCancel = false"
            >
              <span class="icon">
                <i class="fas fa-ban fa-lg"></i>
              </span>
            </button>
          </div>
        </div>
      </article>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
