<section class="hero banner">
  <div class="hero-body">
    <p class="title text-white">Sitio de postulación docente</p>
    <p class="subtitle text-gray">
      Completa la información para participar en alguna postulación.
    </p>
  </div>
</section>
<div class="container">
  <div class="columns mt-3">
    <div class="column">
      <a [routerLink]="'/principal/postulaciones'">
        <div class="item">
          <img src="/Postulaciones/assets/images/postulaciones.jpg" class="image" />
          <p class="bd-notification is-primary">Postulaciones</p>
        </div>
      </a>
    </div>
    <div class="column">
      <a [routerLink]="'/principal/mis-postulaciones'">
        <div class="item">
          <img src="/Postulaciones/assets/images/mispostulaciones.jpg" class="image" />
          <p class="bd-notification is-primary">Mis Postulaciones</p>
        </div>
      </a>
    </div>
    <div class="column">
      <a [routerLink]="'/principal/mi-curriculum'">
        <div class="item">
          <img src="/Postulaciones/assets/images/curriculum.jpg" class="image" />
          <p class="bd-notification is-primary">Curriculum</p>
        </div>
      </a>
    </div>
  </div>
</div>
<section class="section container">
  <h1 class="title">Últimas postulaciones</h1>
  <h2 class="subtitle">
    Aqui se listan las ultimas postulaciones para docencia en nuestra
    universidad <strong>Postula</strong>, en aquella que cumplas los requisitos.
  </h2>
  <div class="container">
    <div class="columns mt-3 s-mobile is-multiline is-marginless">
      <div class="column is-12" *ngIf="postulaciones.length == 0">
        <app-loader></app-loader>
      </div>
      <div
        class="column is-6-tablet is-12-mobile is-3-desktop"
        *ngFor="let item of postulaciones"
      >
        <app-item [item]="item" (click)="VerDetalle(item)"></app-item>
      </div>
    </div>
    <div
      class="columns is-vcentered is-marginless"
      *ngIf="postulaciones.length >= 8"
    >
      <div class="column is-4"></div>
      <div class="column is-4">
        <button
          class="button is-link is-outlined is-fullwidth m-1"
          (click)="more()"
        >
          <span> Ver más </span>
        </button>
      </div>
      <div class="column is-4"></div>
    </div>
  </div>
</section>
