.float {
  position: absolute;
  top: 10px;
  right: 10px;
}
.new {
  a {
    text-decoration: none;
  }
}
.cargo {
  font-size: 20px;
  line-height: 1.5;
  display: inline-block;
}
.empresa {
  font-size: 1rem;
  line-height: 1.5;
}
.descripcion {
  font-size: 1rem;
  line-height: 1.5;
}
.fecha {
  font-size: 1rem;
  line-height: 1.5;
}
